<header class="he_header fixed-top" style="margin: 0px !important">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-1 col-sm-2 col-4 he_logo"
        style="height: inherit !important"
      >
        <a href="https://www.gov.co">
          <img src="assets/img/logo_header.png" alt="logo" />
        </a>
      </div>
      <div class="col-lg-11 col-sm-10 col-8 he_menu">
        <div class="row">
          <div class="col-lg-6 col-md-5">
            <p class="screen-lg">
              El Estado no tiene porqué ser aburrido ¡conoce a gov.co!
            </p>
            <p class="screen-md">¿Sabes que es GOV.CO?</p>
            <p class="screen-sm">¿Sabes que es GOV.CO? Conócelo aquí</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
