<footer class="he_footer">
  <div class="container">
    <div class="col-xl-2 col-lg-3 col-md-3 split screen-lg">
      <div class="logo" style="height: 100px">
        <a href="https://www.gov.co">
          <img src="assets/img/logo_footer.png" alt="logo" />
        </a>
      </div>
      <div class="logo_co">
        <a href="https://www.colombia.co">
          <img src="assets/img/logo_co_footer.png" alt="logo co" />
        </a>
      </div>
    </div>
    <div class="col-xl-6 col-lg-5 col-md-4 split">
      <h4>Contaduría General de la Nación</h4>
      <p><strong>Cuentas claras, estado transparente.</strong></p>
      <p>Entidad adscrita al Ministerio de Hacienda y Crédito Público</p>
      <p>
        Dirección: Calle 26 # 69 - 76 Edificio Elemento <br />
        Torre 1 (aire) Pisos 3 y 15 Bogotá D.C<br />
        Código Postal: 111071 <br />
        Horario de Atención: Lunes a Viernes 8:00 am - 4:30 pm.
      </p>
      <ul class="he_footer_redes">
        <a
          title="Twitter. Se abrirá en una nueva ventana"
          id="twitter-icon"
          href="https://twitter.com/contaduria_cgn"
          target="_blank"
        >
          <li>
            <i class="fa fa-twitter fa-circulo" aria-hidden="true"></i>
            <div class="fa_text">Twitter</div>
          </li>
        </a>
        <a
          title="YouTube. Se abrirá en una nueva ventana."
          id="youtube-icon"
          href="https://www.youtube.com/user/CGNOficial"
          target="_blank"
        >
          <li>
            <i class="fa fa-youtube fa-circulo" aria-hidden="true"></i>
            <div class="fa_text">Youtube</div>
          </li>
        </a>
        <a
          title="Facebook. Se abrirá en una nueva ventana."
          id="facebook-icon"
          href="https://www.facebook.com/ContaduriaGeneraldelaNacionCGN"
        >
          <li>
            <i class="bi bi-facebook" aria-hidden="true"></i>
            <div class="fa_text">Facebook</div>
          </li>
        </a>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 no-split">
      <h4><i class="bi bi-telephone-fill" aria-hidden="true"></i> Contacto</h4>
      <p>
        Teléfono Conmutador: +57(1) 492 64 00<br />
        Correo Institucional:
        <a
          href="mailto:contactenos@contaduria.gov.co"
          title="Correo Electronico de Contacto"
          class="correos"
          >contactenos@contaduria.gov.co</a
        ><br />
        Correo de notificaciones judiciales:
        <a
          href="mailto:notificacionjudicial@contaduria.gov.co"
          title="Correo Electronico de Contacto"
          class="correos"
          >notificacionjudicial@contaduria.gov.co</a
        ><br />
        <a
          href="http://www.contaduria.gov.co/documents/115223/260434/Politica+Sistema+Gestion+Segurida+de+la+Informacion.pdf/15779824-c6c6-7682-0211-c6ca2a075d12"
          target="_blank"
          title="Leer la Política de seguridad de la información"
          class="correos"
          >Política de seguridad de la información</a
        ><br />
        © Copyright <span id="actualYear">2019</span> – Todos los derechos
        reservados Gobierno de Colombia<br />
      </p>
    </div>
    <div
      class="col-lg-2 no-split split-top screen-md-sm logos_movil"
      style="margin-right: 100px !important"
    >
      <div class="logo" style="width: auto; height: auto">
        <a href="https://www.gov.co">
          <img src="assets/img/logo_footer.png" alt="logo" />
        </a>
      </div>
      <div class="logo_co">
        <a href="https://www.colombia.co">
          <img src="assets/img/logo_co_footer.png" alt="logo co" />
        </a>
      </div>
    </div>
  </div>
</footer>
