html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

div {
  display: inline-block;
}

.tableInfo {
  background-color: #5c1e57;
  color: white;
  text-align: left;
  font-weight: bolder !important;
  margin: 0 auto;
}

.selectMap2 {
  width: 100% !important;
  white-space: pre !important;
  position: relative !important;
  border-width: 2px !important;
  border-color: #3366cc !important;
  border-radius: 50px !important;
  text-align: center;
  font-size: 14px !important;
  margin-right: -15px;
  height: 30px !important;
  padding-bottom: 20px !important;
}

main {
  margin: 20px !important;
}

.selectMap {
  width: 200px !important;
  height: 25 px !important;
  border-width: 2px !important;
  border-color: #5c1e57 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px !important;
  overflow: hidden;
  text-align: center;
  font-size: 14px !important;
  margin: auto;
}

.tittle {
  font-size: 26px !important;
  text-align: center !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  color: #2e2e2e;
}

.buttonSearch {
  height: 30px;
  min-width: 100px;
  width: 100% !important;
  float: right;
  background-color: #5c1e57;
  border-width: 0px;
  padding-left: 5px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-bottom-right-radius: 55px !important;
  border-top-right-radius: 55px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.imgButton {
  height: 25px;
  width: auto;
  float: inherit;
  margin-left: 10px;
  padding-right: 20px;
}
.buttonClear {
  margin: 0px !important;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #5c1e57;
  border-radius: 50px !important;
  float: right;
  border-width: 0px;
  height: 30 px;
  color: white;
  font-size: 14px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}
.margenes {
  width: 100%;
  max-width: 1360px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.encabezado {
  width: 100%;
  font-size: 15px;
  background-color: #dddddd;
  padding-left: 80px !important;
  padding-right: 80px !important;
  text-align: justify;
}

.buttonSection {
  height: 100%;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: #dddddd;
  padding-left: 50px !important;
  padding-right: 50px !important;
  text-align: center;
}

.th {
  text-align: justify !important;
  margin-left: 40px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 20px;
}

.link {
  font-size: 1vw;
  margin-top: 13px;
  color: #3b3b3b;
  font-weight: normal;
  cursor: pointer;
}

.img2 {
  width: 100%;
  height: auto;
  max-height: 80px;
  max-width: 80px;
  min-width: 20px;

  background: white;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 800px;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.img3 {
  width: 25px;
  height: 20px;
  background: white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: 0;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.logo {
  padding: 0px;
  margin: 50px;
  width: 600px;
  height: 350px;
  margin: auto;
  vertical-align: middle !important;
}

.gwt-SuggestBox {
  white-space: pre-line !important;
  max-width: 2200px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  float: left;
  text-align: left;
  height: 30px;
  padding-left: 10px !important;
  font-size: 14px !important;
  border-radius: 55px !important;
  border: 2px solid #5c1e57 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.selectMap2 > table > tbody > tr > td > input.gwt-SuggestBox {
  white-space: nowrap !important;

  max-width: 2000px !important;

  width: 100% !important;
  box-sizing: border-box !important;
  float: left;
  text-align: left;
  height: 30px;
  padding-left: 10px !important;
  font-size: 14px !important;
  border-radius: 55px !important;
  border: 2px solid #5c1e57 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#chartDiv > div > div > div > div > div > div > div > svg {
  width: "100% !important";
  height: "auto !important";
}

.selectMap2 > table {
  width: 100% !important ;
  max-width: 1000px !important;
}

.fixed-top {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 1030 !important;
}

.div-size {
  margin: 0 auto;
  float: right;
}

.gwt-SuggestBoxPopup {
  position: fixed !important;
  background-color: white;
  max-height: 100px;
  text-align: left;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.gwt-SuggestBoxPopup .item {
  padding: 1px !important;
  font-size: 10px !important;
  cursor: pointer !important ;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color: #fbbb44 !important;
  padding: 2px !important;
  font-weight: bold;
}

@-moz-document url-prefix() {
  .gwt-SuggestBoxPopup {
    position: absolute !important;
    max-width: 350px;
    min-width: 50px;
    max-height: 100px;
    min-height: 20px;
    text-align: left;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }
}

.prioridad {
  z-index: 5;
  border: solid thick;
  border-color: #005454;
  border-width: 1px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
select,
button {
  font-size: xx-small !important;
}

.form-control {
  text-transform: uppercase !important;
  width: 400px !important;
}

.input-group-addon {
  color: #ffffff;
}
.btn-default {
  color: #ffffff !important;
  background-color: #006666 !important;
  border-color: #006666 !important;
  border-radius: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}

.btn-default:hover {
  background-color: #014108 !important;
}

.btn-default:active {
  top: 2px !important;
  background-color: #ff8000 !important;
}

.google-maps {
  position: relative;
  padding-bottom: 100%;
  transform: translateZ(0px) translateZ(0px) !important;
  border: 4px;
  border-color: #5c1e57 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto !important;
  border-right: 0px;
  border-top: 0px;
}

.btn-falso {
  height: 25px;
  background-color: #5c1e57;
  border-width: 0px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  float: right !important;
}
.btn-falso:hover {
  background-color: #006666 !important;
}

.btn-falso:active {
  position: relative !important;
  background-color: #006666 !important;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.panel-body {
  padding: 0px !important;
  width: 100% !important;
  height: auto !important;
}

.panel-primary {
  border-color: orange !important;
  padding: 0px !important;
  padding-right: 20 px !important;
  padding-left: 20 px !important;
}

.panel-primary > .panel-heading {
  background-color: #5c1e57 !important;
}

.panel-heading {
  background-color: #5c1e57 !important;
  font: normal 14px Arial, Helvetica, sans-serif !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border: 0px !important;
}

.panel-ajuste {
  background-color: #ffffff !important;
  position: relative;
}

.First-column {
  text-align: left !important;
  color: #005454;
  font-size: 14px !important;
}

.table-text {
  text-align: center !important;
  font-size: 12px !important;
  table-layout: auto !important;
  word-wrap: break-word !important;
  border: thin !important;
}

.table-number {
  text-align: center !important;
  font-size: 11px !important;
  table-layout: auto !important;
}

.table-header {
  overflow: visible !important;
  text-align: center !important;
  text-shadow: none !important;
  position: inherit;
  z-index: 10;
  font-size: 10px;
  text-shadow: none !important;
}

.text-chart {
  color: #ff8000 !important;
  font-size: 20px !important;
}

.center {
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  border-color: #006666;
  padding: 10px;
}

.govco {
  max-height: 45px;
  background-color: #005bca;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}
.logo-govco {
  color: #000;
  float: left;
  margin-left: 1%;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 45px;
}
.enlaces-govco {
  float: left;
  height: 100%;
  max-height: 45px;
  background-color: #005bca;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  padding: 0px 0px 0px 350px;
  top: 10px;
}
.enlaces-govco > ul > li {
  float: left;
  list-style: none;
  padding: 0px 30px 0px 30px;
  height: 35px;
}
.enlaces-govco > ul > li > a {
  background-color: #005bca;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  height: 35px;
  display: block;
}
.enlaces-govco > ul > li > a:hover,
.enlaces-govco > ul > li > a:focus {
  border-bottom: 5px solid #fbd015;
  text-decoration: none;
}

a:visited {
  color: white !important;
}

/******Logos************/
.logos {
  display: block;
  width: 100%;
  position: absolute;
  top: 78px;
}
.logo-chip {
  float: left;
}
.logo {
  float: left;
}
#logo_chip {
  color: #000;
  float: left;
  margin-left: 1%;
  width: 100%;
  max-width: 260px;
}
#logo_cgn {
  color: #000;
  float: left;
  margin-left: 2%;
  width: 100%;
  max-width: 260px;
}
#logo-minhacienda {
  width: 100%;
  max-width: 296px;
  color: #000;
  float: right;
  margin-right: 2%;
}
#logo_chip a {
  display: block;
}
#logo_chip img {
  width: 150%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
}
/************Footer************/
#footer {
  width: 100%;
  height: 200px;
  background-color: #004a84;
  color: #000;
  flex-grow: 1;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 100px;
}

#footer p {
  margin-bottom: 0.2rem;
  font-size: 0.9em;
  color: #fff;
}
.icons-social {
  text-align: center;
}

.icons-social img {
  width: 100%;
  max-width: 48px;
  height: 100%;
  max-height: 48px;
  padding: 2px;
}

.icons-social a {
  color: #000;
  display: block;
}

.correos a {
  color: #fff;
}
.correos a:hover,
.correos a:focus {
  color: #f9e900;
}
.correos a:visited {
  color: #d1c300;
}
.he_header {
  background: #3366cc;
  background: -moz-linear-gradient(left, #3366cc 50%, #e5eefb 50%);
  background: -webkit-linear-gradient(left, #3366cc 50%, #e5eefb 50%);
  background: linear-gradient(to right, #3366cc 50%, #e5eefb 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3366cc', endColorstr='#e5eefb',GradientType=1 );
  font: Regular 12px/14px Montserrat;
  letter-spacing: 0;
  color: #0b457f;
  opacity: 1;
  font-size: 12px;
}

.he_header p {
  margin: 0;
}

.he_logo {
  background: #3366cc 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 0;
}

.he_logo img {
  height: 16px;
  margin-top: 5px;
}

.he_menu {
  background: #e5eefb 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 4px 0px 3px 10px;
  max-height: 30px;
}

.he_menu .nav-link {
  padding: 0px 12px;
}

.he_menu .nav-item a {
  text-transform: uppercase;
  color: #0b457f;
}

.he_menu .nav-item a:hover {
  font-weight: bold;
  color: white !important;
}

.he_footer {
  background: #3366cc 0% 0% no-repeat padding-box;
  padding: 35px;
  font: Regular 12px/14px Montserrat;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  /*   min-height: 280px; */
  font-size: 12px;
}

.he_footer p {
  margin: 0;
}

.he_footer h4 {
  font-size: 16px;
  font-weight: bold;
}

.he_footer a {
  color: #ffffff;
  text-decoration: none;
}

.he_footer a:hover {
  font-weight: bold;
  color: white !important;
}

.he_footer .split {
  border-right: 1px solid #ffffff;
}

.he_footer .logos {
  text-align: center;
}

.he_footer .logos_movil .logo {
  float: left;
}

.he_footer .logos_movil .logo_co {
  float: inherit;
}

.he_footer .logo {
  margin-top: 10px;
  margin-bottom: 20px;
}

.he_footer .logo img {
  height: 30px;
}

.he_footer .logo_co img {
  height: 70px;
}

.he_footer .split,
.he_footer .no-split {
  padding: 15px 25px;
}

.he_footer .split-top {
  border-top: 1px solid #ffffff;
}

.he_footer ul.he_footer_redes li {
  float: left;
  margin: 35px 11px 0px 11px;
  height: 50px;
  overflow: hidden;
  list-style: none;
}

.he_footer ul.he_footer_redes li .fa_text {
  float: right;
  padding-top: 7px;
}

.he_footer ul.he_footer_redes li .fa_text:hover {
  font-weight: bolder;
}

.he_footer ul.he_footer_redes li .fa-circle {
  border-radius: 50%;
  background: #ffffff;
  color: #3366cc;
  font-size: 20px;
  padding: 8px;
  margin-right: 8px;
  width: 35px;
  height: 35px;
}

.he_footer .fa-circulo {
  border-radius: 50%;
  background: #ffffff;
  color: #3366cc;
  font-size: 20px;
  padding: 8px;
  margin-right: 8px;
  width: 35px;
  height: 35px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
.he_footer_redes {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .google-maps {
    position: relative;
    padding-bottom: 100%;
    transform: translateZ(0px) translateZ(0px) !important;
    border: 4px;
    border-color: #5c1e57 !important;
    width: 100% !important;
    max-height: 20% !important;
    margin: 0 auto !important;
    border-right: 0px;
    border-top: 0px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  #panelIzq {
    padding-right: 0px;
  }

  .div {
    margin-bottom: 20px;
  }

  .buttonSection {
    position: static;
    min-height: 10%;
    height: 100%;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #dddddd;
    padding-left: 50px !important;
    padding-right: 50px !important;
    text-align: center;
  }

  /*   #buttonContainer{ */
  /*   padding-left: 0px; */
  /*   padding-right: 0px; */
  /*   } */

  .screen-sm {
    display: none;
  }
  .screen-md {
    display: block;
  }
  .screen-lg {
    display: none;
  }
  .screen-md-sm {
    display: block;
  }
  .he_menu .nav-link {
    padding: 0px 5px;
  }

  .he_footer .split {
    border-right: none;
  }
  .he_footer .split {
    border-bottom: 1px solid #ffffff;
  }
  .he_footer .split,
  .he_footer .no-split {
    padding: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .screen-sm {
    display: block;
  }
  .screen-md {
    display: none;
  }
  .screen-lg {
    display: none;
  }
  .screen-md-sm {
    display: block;
  }
  .he_menu .nav {
    display: none;
  }
  .he_footer ul.he_footer_redes li {
    margin: 35px 10px 0px 10px;
  }
}

a.correos:visited {
  color: #fff3c0 !important;
}

a.correos {
  color: #fff !important;
}

a.correos:hover {
  color: yellow !important;
}
